@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";



@include mobile {
  body{
    background-color: bisque;
    $tablet
  }
  
  }

  @include tablet {
    body{

        background-color: azure;
       $desktop
  }
  }

  @include tablet-only {
    body{
        background-color: rgb(206, 208, 164);
   $widescreen
  }
  }
  @include desktop-only {
    body{
        background-color: rgb(165, 161, 133);
    $fullhd
  }
  }
